<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
     class="background-div">
    <div>
<span sec:authorize="isAnonymous()">
    <a th:href="@{http://localhost:8080/}" class="custom-button">Főoldal</a>
    <a th:href="@{/login}" class="custom-button">Belépés</a>
    <a th:href="@{/regisztral}" class="custom-button">Regisztrál</a>
    <a th:href="@{/home2}" class="custom-button">Home</a>
    <a th:href="@{/feladat}" class="custom-button">Üzenet</a>
    <a th:href="@{/fooldal}" class="custom-button">Sutik</a>
    <a th:href="@{/messages}" class="custom-button">Korábbi üzenetek</a>
</span>
        <span sec:authorize="isAuthenticated()">
            <a th:href="@{index}" class="custom-button">Főoldal</a>
    <a th:href="@{/home}" class="custom-button">Home</a>
    <a th:href="@{/logout}" class="custom-button">Logout</a>
            <a th:href="@{/feladat}" class="custom-button">Üzenet</a>
            <a th:href="@{/home2}" class="custom-button">Home2</a>
</span>
        <span sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/admin/home}">Admin</a>
        </span>
    </div>
    <div sec:authorize="isAuthenticated()">
        <h3>Welcome <span sec:authentication="principal.username">User</span></h3>
    </div>
</div>